@model WebShopApp.Models.ProductIndexModel
@{
    ViewData["Title"] = "Chocolates";
}

<h2>Chocolates</h2><button class="btn btn-default">Checkout</button>
<a asp-controller="Checkout" asp-action="Index">
    <img src="~/images/Checkout/ShoppingCart.png" alt="Shopping Cart" />
    <label>0</label>
</a>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        <a asp-controller="Products" asp-action="Chocolates" asp-route-id="@product.Id">
                            <img src="@product.ImageUrl" class="imageCell" />
                        </a>
                    </td>
                    <td>@product.Name</td>
                    <td>$@product.Price</td>
                    <td><button class="btn btn-default">Add To Cart</button></td>
                </tr>

            }
        </tbody>
    </table>
</div>
