@using Microsoft.AspNetCore.Identity
@using WebShopApp.Models

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/Site.js" type="text/javascript"></script>
</head>
<body>
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Checkout" asp-action="Index">Checkout</a></li>
        <li>
            <a asp-area="" asp-controller="Checkout" asp-action="Index">
                <img src="~/images/Checkout/shoppingCartLogo.png" alt="Shopping Cart" width="20" height="20" />
            </a>
        </li>
        <li><a asp-area="" asp-controller="Checkout" asp-action="Index">Items In Cart: <label id="numberofitems">0</label></a></li>
    </ul>
    </body>
