@{
    ViewData["Title"] = "A Lollie Shop";
}

<div style="padding-top: 30px">
    <form>
        <button asp-controller="Products" asp-action="Chips">Chips</button>
        <button asp-controller="Products" asp-action="Chocolates">Chocolates</button>
        <button asp-controller="Products" asp-action="Lollies">Lollies</button>
    </form>
</div>